################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Multitenant_SingleDatabase/obj
/Multitenant_SingleDatabase/bin/Debug/net7.0
